ul#menu li{
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
}
#menu {
    text-align: center;
    background: springgreen;
}

#menu a {
    display: block;
    padding: 5px 45px;
    color: #fff;
    font-size:150%;
    text-decoration: none;
}

#menu a:hover {
    background: #8AB8CC;
}