/* https://www.w3schools.com/csSref/css3_pr_box-sizing.asp */
* {
    box-sizing: border-box;
}
.col-1 {
    width: 18%;
    margin-left: 2%;
    height: 800px;
    overflow: auto;
    background-color: rgba(139, 185, 205, 0.45);
}
.col-2 {
    width: 79%;
    min-height: 700px;
    background-color: rgba(131, 180, 132, 0.31);
}
[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
ul#common-menu li{
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
}
#common-menu {
    text-align: center;
    background: springgreen;
    width: 99.8%;
}

#common-menu a {
    display: block;
    padding: 5px 45px;
    color: #fff;
    font-size:150%;
    text-decoration: none;
}

#common-menu a:hover {
    background: #8AB8CC;
}

button.create-btn {
    font-weight: 700;
    color: white;
    text-decoration: none;
    width: 150px;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 8px;
    background: rgb(184, 199, 82);
    /*box-shadow: 0 -1px rgb(215, 114, 11) inset;*/
    transition: 0.1s;
}
button.create-btn:hover { background: #8AB8CC; }
button.create-btn:active {
    background: rgb(255, 231, 2);
    /*box-shadow: 0 3px rgb(233, 211, 2) inset;*/
}
input.create-input {
    width: 500px;
    font-weight: 700;
    color: blue;
    text-decoration: none;
padding: .8em 1em calc(.8em + 3px);
border-radius: 8px;
background: rgb(253, 255, 235);
}

/*addClass() for "upper-doc-bar" and "lower-doc-bar", see utility.js createNameBar()*/
.doc-name-bar {
    /*display: inline-block;*/
    text-align: center;
    margin: 0;
    padding: 0;
    background: #00c764;
    color: #f5df40;
    font-size:150%;
    text-decoration: none;
}

.page-btn-bar button {
    font-weight: 700;
    width: border-box;
    color: #75a6ff;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 8px;
    background: rgb(246, 244, 246);
    transition: 0.1s;
}
.page-btn-bar button:hover { background: #8AB8CC; }
.page-btn-bar button:active { background: rgb(255, 231, 2); }

textarea {
    border: 1px;
    /*outline: none;*/
    padding: 0;
    margin: 0;
    max-width: 95%;
    /*TODO: сделать по window height*/
    max-height: 800px;
    overflow: auto;
    /** allows to set min height of textarea as 1 row, not as 2 rows as its default value */
/*!important;height: 0;*/
    /** remove resize handle (a little triangle in the bottom right of textarea) */
    /*resize: none;*/
}