<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Tutorial</title>
    <!--<link rel="stylesheet" href="bootstrap3.3.7/css/bootstrap.min.css">-->
    <!--<script src="js/jquery-3.3.1.js"></script>-->
    <!--<script src="bootstrap3.3.7/js/bootstrap.min.js"></script>-->
</head>

<body>
<p style="text-align: center; font-size: 300%; font-weight: bold; font-family: 'Segoe Print'; color: orange; margin-top: 100px">
    Sorry, access to this page denied
</p>
<div align="center" style="font-size: 150%; margin-top: 50px">
    <a th:href="@{/}">home</a>
</div>
</body>
</html>