<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" href="bootstrap3.3.7/css/bootstrap.min.css">
    <script src="js/jquery-3.3.1.js"></script>
    <script src="bootstrap3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
hello Jezh
<form th:action="@{/users/sign-up}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
</form>
<div class="container">
    <img th:src="@{/img/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" />
    <!--<form th:action="@{/login}" method="POST" class="form-signin">-->
    <form class="form-signin">
        <h3 class="form-signin-heading" th:text="Welcome"></h3>
        <br/>

        <input type="text" id="username" name="username"  th:placeholder="Name"
               class="form-control" /> <br/>
        <input type="password"  th:placeholder="Password"
               id="password" name="password" class="form-control" /> <br />

        <!--<div align="center" th:if="${param.error}">-->
        <div id="error-message" align="center" style="font-size: 20; color: #FF1C19;"></div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" id="submit" name="Submit" value="Login" type="Submit" th:text="Login"></button>
    </form>
</div>

<script src="js/login.js"></script>
</body>
</html>